{% extends 'base.html.twig'%}

{% block content%}
    <header>
        {% block navBar%}
            {% include 'nav_bar/nav_bar.html.twig' %}
            <section class="global-section"></section>
        {% endblock %}
    </header>
    {% block body%}

    {% endblock%}

{%endblock%}